.notLogged {
  font-size: 30px;
  color: orange;
}

.login {
  font-size: 26px;
  color: rgb(247, 167, 19);
}

.logoutBtn {
  padding: 10px 5px;
  font-size: 26px;
  border-radius: 6px;
  border: none;
}
